@media screen and (min-width: 60em) {
    .pv6-l {
        padding-top: 0rem;
        padding-bottom: 1rem;
    }
    aside.w-30-l {
        display: none;
    }
    article > div {
        width: 100% !important;
    }
}

p {
   text-align: justify; 
}

p:has(> img) {
    text-align: center;
}

p:has(> img) > img {
    display: inline-block;
}
